footer {
  background-color: #000;
}

.padding-footer {
  padding: 0 150px;
}

footer .logo-footer {
  color: #fff;
  font-size: 1.5em;
}

footer .first-content-footer {
  padding: 80px 0;
}

footer .content-about-us h5 {
  color: #fff;
  margin-bottom: 30px;
}

footer .content-about-us ul {
  display: flex;
  flex-direction: column;
}

footer .content-about-us ul li {
  margin-bottom: 15px;
  color: #fff;
}

footer .content-about-us ul li a {
  display: inline-block;
  color: #fff;
  text-decoration: none;
}

footer .content-about-us ul li a:after {
  content: '';
  display: block;
  width: 0;
  height: 1px;
  background-color: #fff;
  transition: .3s;
}

footer .content-about-us ul li a:hover:after {
  width: 100%;
}


footer .content-contact h5 {
  margin-bottom: 30px;
  color: #fff;
}

footer .content-contact ul li {
  color: #fff;
}

footer .content-contact ul li a {
  display: inline-block;
  color: #fff;
  margin-top: 8px;
}

footer .social-media-footer {
  display: flex;
  justify-content: flex-start;
  margin-top: 20px;
}

footer .social-media-footer li {
  margin-right: 30px;
}

footer .social-media-footer li a i {
  font-size: 1.3em;
}

footer .methods {
  display: flex;
  justify-content: space-around;
  align-items: center;
  max-width: 350px;
  margin-bottom: 0;
}

footer p {
  color: #fff;
}

footer .rights {
  display: flex;
  justify-content: flex-end;
}

footer .text-rights {
  display: flex;
  align-items: center;
  font-family: var(--main-font);
  font-size: .8em;
  margin-bottom: 0;
}

/* RESPONSIVO */

@media (min-width: 300px) and (max-width: 767px) {
  .padding-footer {
    padding: 0 30px;
  }

  footer .first-content-footer {
    padding: 50px 0;
  }

  footer .logo-footer {
    display: inline-block;
    margin-bottom: 50px;
    text-decoration: none;
  }

  footer .content-about-us h5,
  footer .content-contact h5 {
    color: #bd9a79;
  }

  footer .content-contact ul li {
    margin-bottom: 10px;
  }

  footer .social-media-footer {
    margin-top: 40px;
  }

  footer .social-media-footer li a i {
    font-size: 1.5em;
  }

  footer .rights {
    justify-content: center;
    margin-top: 30px;
  }

}








